---
title: Animations
---

<%= render Page::ContainerComponent.new(page: current_page) do |page| %>
  <% page.with_title(title: current_page.data.fetch("title")) %>
    <ul>
    <% UseCases::Animation.order(name: :asc).each do |animation_page| %>
      <li>
        <%= link_to animation_page.name, animation_page.url, target: :_blank %><br>
      </li>
    <% end %>
    </ul>
<% end %>
